<!DOCTYPE html>
{% extends "tag_home.html"  %}
<head>
 <title>Test Access Gateway - API GATEWAY testing</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% load static %}
{% block body_block %}
<div class="container">

   <div class="well well-lg"> <h3 style="color: darkslateblue">Beanstalk - Policy API</h3></div>


<div class="row">

<div class="col-sm-6">
<button class="button btn btn-info btn-block" data-toggle="collapse" data-target="#policylist">Policy List from Beanstalk - API </button>

<div id="policylist" class="collapse">

      <div class="panel panel-info">
          <div class="panel-heading"><h4>Beanstalk - Policy Endorsement </h4></div>
          <div class="panel-body">
                <form method="post" action="{% url 'beanstalk_exe2' %}">
                        {% csrf_token %}
    <div class="form-group">
      <label for="psel">Select a policy for endorsement:</label>
      <!--<select class="form-control glyphicon" data-show-icon="true" id="psel" name="psel">-->
       <select class="form-control" id="psel" name="psel">
        <option>click here</option>
        {% for data in polist %}
          <option value= {{ data.policy_number }} >
               <!--{{ data.policy_number }} &#xe008; {{data.created_by}} &#xe023; {{data.created_on}}-->

          {{ data.policy_number }} --  {{data.created_by}} -- {{data.created_on}}
          </option>

        {% endfor %}
      </select>
        <br>
      <input type= "submit" class="btn btn-default active"  title="Post request" name="amlpost" id="amlpost"
             value="Proceed">

    </div>
                </form>
          </div>
      </div>

</div>
</div>
</div> <br> <br>

<div class="row">
    <div class="col-sm-6">
<button class="button btn btn-info btn-block" data-toggle="collapse" data-target="#policyenter"> No, i Would like to enter the policy number</button>

   <div id="policyenter" class="collapse">

      <div class="panel panel-info">
          <div class="panel-heading"><h4>Beanstalk - Policy Endorsement </h4></div>
          <div class="panel-body">
                <form method="post" action="{% url 'beanstalk_exe2' %}">
                        {% csrf_token %}
    <div class="form-group">
      <label for="policyn">Enter the Policy number:</label>
                    <input type="text" class="form-control" id="policyn" placeholder="Eg: SHL000012663" name="policyn">
        <br>
      <input type= "submit" class="btn btn-default active"  title="Post request" name="ampost" id="ampost"
             value="Proceed">

    </div>
                </form>
          </div>
      </div>

</div>
</div> </div>


</div>
{% endblock %}